{extend name="layout/iframe" /}

{block name="head"}
<style>
    .sku-item{
        position: relative;
    }
    .sku-item:hover .sku-item-remove {
        opacity: 1;
        filter:Alpha(opacity=1)
    }
    .sku-item .sku-item-remove{
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        right: -6px;
        height: 18px;
        width: 18px;
        opacity: 0;
        filter:Alpha(opacity=100);
        transition: opacity 0.5s;
        background: url('/static/admin/images/del2.svg') no-repeat center/98%;/*兼容没测*/
        background-color: #fff;

    }
    .layui-table-cell{
        height: 40px;
    }
    .layui-table-box{
        border: 1px solid #eee;
    }
</style>

{/block}
{block name="body"}
<body>
<div>

<script type="text/html" id="stockTpl">
    <input type="text" autocomplete="off" class="layui-input">
</script>


    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="layui-card">
                <div class="layui-card-header"> 规格
                </div>
                <div class="layui-card-body">

                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div >
                            <a class="layui-btn layui-btn-sm layui-btn-normal" onclick="handleAddSku()">
                                添加规格
                            </a>
                        </div>
                    </div>

                    <div id="sku-list"></div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div >
                            <table class="layui-hide" id="sku-table"></table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </form>
</div>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>


    layui.use(['form','jquery','request','laytpl','table','skuTable'],function(){
        let form = layui.form;
        let $ = layui.jquery;
        let request = layui.request;
        let laytpl = layui.laytpl;
        let table = layui.table;
        let skuTable = layui.skuTable;

        // 渲染
        skuTable.renderForm("sku-list");
        skuTable.render("sku-table");

        form.on('submit(save)', function(data){
            request.post({
                data:data.field,
                isClose:true,
                reloadTable:'dataTable',
                success: function (res) {
                },
                error: function (res) {}
            });
            return false;
        });
    })


</script>
</body>

{/block}